@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  h1{
    font-family: 'DM Sans',sans-serif;
    font-size: 1.5rem;
    a{
      text-decoration: none;
      color: black;
      &:hover{
        color: orangered;
      }
    }
  }
  nav{
    ul{
      display: flex;
      list-style: none;
      li{
        margin-inline: 1rem;
        margin-inline-end: 0;
        a{
          text-decoration: none;
          color: black;
          font-family: 'DM Sans',sans-serif;
          &:hover{
            color: orangered;
          }
        }
      }
    }
  }
}

main{
  .hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        font-family: 'DM Sans',sans-serif;
        font-size: 12rem;
      }
      h3{
        font-family: 'DM Sans',sans-serif;
        font-weight: 200;
        font-size: 3rem;
      }
      p{
        font-family: 'DM Sans',sans-serif;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.5;
        width: 70%;
        margin-top: 1.5rem;
      }
      .button{
        cursor: pointer;
        margin-top: 3rem;
        background-color: rgb(88, 88, 224);
        padding: 3rem 7rem;
        border-radius: 5rem;
        position: relative;
        a{
          text-decoration: none;
          color: white;
          h4{
            font-family: 'DM Sans',sans-serif;
            font-size: 2rem;
            font-weight: 300;
          }
        }
      }
    }
  }
  .about{
    height: 130vh;
    position: relative;
    video{
      opacity: .5;
      filter: grayscale(1);
      width: 100%;
    }
    .container{
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      text-align: center;
      width: 100%;
      h1{
        font-family: 'DM Sans',sans-serif;
        font-size: 8rem;
        color: transparent;
        -webkit-text-stroke: 1px white;
      }
      h5{
        font-family: 'DM Sans',sans-serif;
        font-size: 2rem;
        color: white;
        font-weight: 200;
      }
    }
  }
  .team{
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    .team_{
      width: 95%;
      height: 40rem;
      h3{
        text-align: center;
        font-family: 'DM Sans',sans-serif;
        font-weight: 800;
        font-size: 3rem;
      }
      .container{
        display: flex;
        width: 80%;
        margin: 10rem auto;
        justify-content: space-around;
        div{
          width: fit-content;
          text-align: center;
          .image{
            width: 200px;
            height: 200px;
            background-color:  lightblue;
            display: block;
            border-radius: 50%;
          }
          p{
            margin-top: 1rem;
            font-family: 'DM Sans',sans-serif;
            font-weight: 300;
            font-size: 1.1rem;
            &:nth-child(3){
              font-size: .9rem;
              color: lightgrey;
            }
          }
        }
      }
    }
    .sp_thanks{
      width: 95%;
      height: 30rem;
      h3{
        font-family: 'DM Sans',sans-serif;
        text-align: center;
        font-weight: 800;
        font-size: 3rem;
      }
      .container{
        display: flex;
        width: 45%;
        margin: 10rem auto;
        justify-content: space-around;
        div{
          width: fit-content;
          text-align: center;
          .image{
            width: 200px;
            height: 200px;
            background-color:  lightblue;
            display: block;
            border-radius: 50%;
          }
          p{
            margin-top: 1rem;
            font-family: 'DM Sans',sans-serif;
            font-weight: 300;
            font-size: 1.1rem;
            &:nth-child(3){
              font-size: .9rem;
              color: lightgrey;
            }
          }
        }
      }
    }
  }
  .product{
    width: 95%;
    margin: 10rem auto;
    h1{
      font-family: 'DM Sans',sans-serif;
      font-weight: 800;
      font-size: 3rem;
      text-align: center;
    }
    .contents{
      display: flex;
      margin: 5rem auto;
      justify-content: space-between;
      .image{
        margin-right: 2rem;
        height: 700px;
        width: 40%;
        background-color: darkgrey;
      }
      p{
        width: 65%;
        font-family: 'DM Sans',sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.8;
      }
    }
  }
}

footer{
  position: relative;
  height: 80vh;
  width: 95%;
  margin: 10rem auto;
  h1{
    font-family: 'DM Sans',sans-serif;
    font-size: 3rem;
    text-align: center;
  }
  .contents{
    position: relative;
    margin-top: 10rem;
    p{
      font-family: 'DM Sans',sans-serif;
      font-size: 2rem;
    }
    .sub{
      h2{
        font-family: 'DM Sans',sans-serif;
        font-size: 6rem;
        font-weight: 800;
        line-height: 1.1;
        margin-top: 2rem;
      }
      .button{
        margin-top: 3rem;
        border-radius: 4rem;
        width: fit-content;
        padding: 3rem 10rem;
        background-color: white;
          border: 2px solid rgb(88, 88, 224);
        a{
          text-decoration: none;
          color: rgb(88, 88, 224);
          font-family: 'DM Sans',sans-serif;
          font-weight: 500;
          font-size: 1.5rem;
        }
        &:hover{
        background-color: rgb(88, 88, 224);
          
          a{
            color: white;
          }
        }
      }
    }
  }
  .copyright{
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'DM Sans',sans-serif;
    color: darkgrey;
    font-weight: 300;
    font-size: 1.2rem;
  }
}

